In [13]:
import os
import pandas as pd
from tqdm import tqdm

# Split Data

## Parameters for Papermill

In [14]:
filename = "data/orig/TS.CF.OFFSHORE.30yr.date.txt"

## Load Data

In [15]:
df = pd.read_table(filename)
df.head()

,Time step,Date,Year,Month,Day,Hour,BE,DK,DE,NL,UK
0,1,01/01/1986 00:00,1986,1,1,0,0.65206,0.69450,0.64662,0.65980,0.44185
1,2,01/01/1986 01:00,1986,1,1,1,0.60341,0.67387,0.63756,0.64448,0.42026
2,3,01/01/1986 02:00,1986,1,1,2,0.52151,0.65254,0.62826,0.62745,0.38456
3,4,01/01/1986 03:00,1986,1,1,3,0.46460,0.64079,0.62038,0.60343,0.34960
4,5,01/01/1986 04:00,1986,1,1,4,0.41794,0.62641,0.61222,0.57977,0.31395

## Split Data

In [23]:
for country in df.columns[6:]:
    for year, ds in tqdm(df.groupby('Year'), desc=country):
        dset = ds[['Date', country]]
        os.makedirs(f'data/processed/{country}', exist_ok=True)
        (dset
         .rename(columns={country: 'WindFactor'})
         .to_csv(f'data/processed/{country}/Offshore-{year}.csv', index=False)
        )

BE: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 37.83it/s]
DK: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 36.72it/s]
DE: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 34.13it/s]
NL: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 34.64it/s]
UK: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 38.02it/s]