In [31]:
import os
import pandas as pd
from tqdm import tqdm

# Split Data

## Parameters for Papermill

In [32]:
filename = "data/orig/TS.CF.OFFSHORE.30yr.date.txt"

## Load Data

In [33]:
df = pd.read_table(filename)
df.head()

,Time step,Date,Year,Month,Day,Hour,BE,DK,DE,NL,UK
0,1,01/01/1986 00:00,1986,1,1,0,0.65206,0.69450,0.64662,0.65980,0.44185
1,2,01/01/1986 01:00,1986,1,1,1,0.60341,0.67387,0.63756,0.64448,0.42026
2,3,01/01/1986 02:00,1986,1,1,2,0.52151,0.65254,0.62826,0.62745,0.38456
3,4,01/01/1986 03:00,1986,1,1,3,0.46460,0.64079,0.62038,0.60343,0.34960
4,5,01/01/1986 04:00,1986,1,1,4,0.41794,0.62641,0.61222,0.57977,0.31395

## Split Data

In [38]:
dfl = df.melt(id_vars=['Date'], var_name="Country", value_name="WindFactor", value_vars=df.columns[6:])
dfl.head()

               Date Country  WindFactor
0  01/01/1986 00:00      BE     0.65206
1  01/01/1986 01:00      BE     0.60341
2  01/01/1986 02:00      BE     0.52151
3  01/01/1986 03:00      BE     0.46460
4  01/01/1986 04:00      BE     0.41794

In [36]:
for country in df.columns[6:]:
    for year, ds in tqdm(df.groupby('Year'), desc=country):
        
        dset = ds[['Date', country]]
        os.makedirs(f'data/processed/{country}', exist_ok=True)
        (dset
         .rename(columns={country: 'WindFactor'})
        )
        print(dset.head())
        break
#          .to_csv(f'data/processed/{country}/Offshore-{year}.csv', index=False)
#         )

BE:   0%|                                                                                       | 0/30 [00:00<?, ?it/s]
DK:   0%|                                                                                       | 0/30 [00:00<?, ?it/s]
DE:   0%|                                                                                       | 0/30 [00:00<?, ?it/s]
NL:   0%|                                                                                       | 0/30 [00:00<?, ?it/s]

               Date       BE
0  01/01/1986 00:00  0.65206
1  01/01/1986 01:00  0.60341
2  01/01/1986 02:00  0.52151
3  01/01/1986 03:00  0.46460
4  01/01/1986 04:00  0.41794
               Date       DK
0  01/01/1986 00:00  0.69450
1  01/01/1986 01:00  0.67387
2  01/01/1986 02:00  0.65254
3  01/01/1986 03:00  0.64079
4  01/01/1986 04:00  0.62641
               Date       DE
0  01/01/1986 00:00  0.64662
1  01/01/1986 01:00  0.63756
2  01/01/1986 02:00  0.62826
3  01/01/1986 03:00  0.62038
4  01/01/1986 04:00  0.61222

NL:   0%|                                                                                       | 0/30 [00:00<?, ?it/s]
UK:   0%|                                                                                       | 0/30 [00:00<?, ?it/s]

               Date       NL
0  01/01/1986 00:00  0.65980
1  01/01/1986 01:00  0.64448
2  01/01/1986 02:00  0.62745
3  01/01/1986 03:00  0.60343
4  01/01/1986 04:00  0.57977
               Date       UK
0  01/01/1986 00:00  0.44185
1  01/01/1986 01:00  0.42026
2  01/01/1986 02:00  0.38456
3  01/01/1986 03:00  0.34960
4  01/01/1986 04:00  0.31395